/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Page Wide Changes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: #f7f7f7;
}

/* Header */
header {
    position: absolute;
    height: 100px;
    width: 100dvw;
    padding: 0 4rem;
    z-index: 1;

    display: grid;
    grid-template-columns: auto auto;
}

.header__logoContainer {
    height: 100px;
    display: flex;
    align-items: center;
}

.header__logo {
    height: 80%;
}

.header__menuButtonContainer {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.header__hamburger {
    width: 30px;
    height: 30px;
}

.header__background {
    width: 100vw;
    height: 100px;
}

/* Popout Navigation */
.header__popoutNav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;

    background-color: #d2d2d2;
}

.nav__topContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    height: 70px;
    padding: .75rem;
}

.nav__logo {
    height: 100%;
}

.nav__closeButtonContainer {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav__menuButton {
    height: 100%;
    width: 50px;
    color: black;
}

.nav_x {
    height: 100%;
    width: 50px;
}

.nav__links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    padding: .75rem 1rem;
}

.nav__link {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

/* Hero, main page */
.hero {
    height: 60vh;
    width: 100vw;
    background-position: top;
    background-size: cover;
}

.hero__outerContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.hero__innerContainer {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: white;
    text-align: right;
    padding: 0 10%;
}

.hero__title {
    font-size: 6rem;
}

.hero__desc {
    font-size: 1.8rem;
    font-weight: 500;
}

/* Main Page Content */
.contentContainer {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main__tagline {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    padding: 5rem 0;
}

.orange {
    color: orange
}

.main__jobsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    text-align: center;
    padding-bottom: 5rem;
}

.jobsGrid__img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.jobsGrid__title {
    font-size: 1.1rem;
    padding-top: .5rem;
}

.jobsGrid__subtitle {
    color: #232323;
}

.flips__title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    padding: 2rem 0;
}

.blue {
    color: rgb(43, 155, 211);
}

.flips__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.flips__label {
    text-align: center;
    padding-bottom: .5rem;
    font-size: 1.7rem;
}

.flips__img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
}

/* Sub-Page Titles */
.subpage__title {
    text-align: center;
    padding: 1rem 0;
}

.subpage__desc {
    color: #232323;
    text-align: center;
}

/* Rental Requirements Page */
.rentalReq__container {
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.rentalReq__line {
    width: 2rem;
    height: .25rem;
    margin-top: 2.5rem;
    margin-bottom: .25rem;
    background-color: rgb(252, 150, 78);
}

.rentalReq__subtitle {
    margin-bottom: .25rem;
    font-size: 1.5rem;
}

.rentalReq__paragraph {
    color: #232323;
}

.rentalReq__list {
    list-style-position: outside;
    padding: 1rem 1.25rem;
}

.rentalReq__listItem {
    padding-bottom: .1rem;
}

/* Contact Information Page */
.contactInfo__text {
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
}

/* Footer */
.footer {
    text-align: center;
    width: 100%;
    background-color: rgb(43, 155, 211);
    padding: 2rem 0;
    margin-top: 3rem;
}

.footer__text {
    color: white;
}

/* Responsive Design */
@media screen and (max-width: 1600px) {
    .hero__title {
        font-size: 4rem;
    }
    
    .hero__desc {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1000px) {
    .hero__title {
        font-size: 3rem;
    }
    
    .hero__desc {
        font-size: 1.2rem;
    }

    .hero__innerContainer {
        width: 60%;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
        padding: 0 15%;
    }
}

@media screen and (max-width: 700px) {
    header {
        height: 70px;
        padding: 0 2rem;
    }

    .header__popoutNav {
        width: 100vw;
    }
    
    .header__logoContainer {
        height: 70px;
    }

    .hero {
        height: 60vh;
    }

    .hero__title {
        font-size: 3rem;
    }
    
    .hero__desc {
        font-size: 1.4rem;
    }

    .hero__innerContainer {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding: 0 15%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        align-items: center;
    }

    .main__jobsGrid, .flips__grid {
        grid-template-columns: 1fr;
    }
}